<a href="https://colab.research.google.com/github/jnsoliveira/Atividades/blob/main/AnaliseExploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LINKS**

Github(Para visualização do código) 
https://github.com/jnsoliveira/Atividades/blob/main/AnaliseExploratoria.ipynb

GoogleColab(Para executar o código na Web, porém, é necessário fazer o upload no Python Web dos arquivos 'vendas_tran.cvs' e 'vendedor.csv' que se encontram em meu repositório ‘Atividades’ do Github)
https://colab.research.google.com/github/jnsoliveira/Atividades/blob/main/AnaliseExploratoria.ipynb#scrollTo=4dnoZP_DxMBL

# **TAREFA**

Utilizando os arquivos 'vendas_tran.csv' e 'vendedor.csv' realize uma análise exploratória identificando oportunidades e explique sua linha de raciocínio e conclusão.

**Foi realizada uma análise exploratória simples atráves dos arquivos disponibilizados para utilização.** 


**O código foi documentado para melhor entendimento tanto do código em si e para verificação do raciocínio.**

In [ ]:
#Bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Arquivo vendas em dataframe
vendas = pd.read_csv('vendas_tran.csv',header=None,encoding='latin1',on_bad_lines='skip',sep=';')

#Arquivo vendedor em dataframe
vendedor = pd.read_csv('vendedor.csv')

In [ ]:
#Verificando as colunas do dataset
vendas.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20],
           dtype='int64')

In [ ]:
#Tamanho do dataset
vendas.shape

(9995, 21)

In [ ]:
print('O dataset possui',vendas.shape[0], 'registros e', vendas.shape[1], 'atributos.')

O dataset possui 9995 registros e 21 atributos.

In [ ]:
#Exibindo os primeiros registros
vendas.head

<bound method NDFrame.head of          0               1           2           3               4   \
0     RowID         OrderID   OrderDate    ShipDate        ShipMode
1      9261  CA-2017-167976  11/11/2017  11/14/2017    Second Class
2      6990  CA-2017-165099  12/11/2017  12/13/2017     First Class
3       201  CA-2017-105074   6/24/2017   6/29/2017  Standard Class
4      3201  CA-2014-164224   5/18/2014   5/20/2014    Second Class
...     ...             ...         ...         ...             ...
9990   3348  CA-2015-112014   8/13/2015   8/20/2015  Standard Class
9991   7280  CA-2016-108224   5/14/2016   5/14/2016        Same Day
9992   8088  CA-2016-106621   9/29/2016   10/1/2016    Second Class
9993   4823  CA-2016-134222   7/10/2016   7/11/2016        Same Day
9994   7282  CA-2017-159282  10/16/2017  10/21/2017  Standard Class

              5                6            7              8         9   ...  \
0     CustomerID     CustomerName      Segment        Country      City  ...
1       JL-15505  Jeremy/Lonsdale     Consumer  United States  Aberdeen  ...
2       DK-13375      Dennis/Kane     Consumer  United States   Abilene  ...
3       MB-17305  Maria/Bertelson     Consumer  United States     Akron  ...
4       TT-21070      Ted/Trevino     Consumer  United States     Akron  ...
...          ...              ...          ...            ...       ...  ...
9990    ON-18715    Odella/Nelson    Corporate  United States   Yucaipa  ...
9991    TH-21235    Tiffany/House    Corporate  United States      Yuma  ...
9992    DM-12955     Dario/Medina    Corporate  United States      Yuma  ...
9993    NZ-18565    Nick/Zandusky  Home Office  United States      Yuma  ...
9994    GH-14410      Gary/Hansen  Home Office  United States      Yuma  ...

                 11               12               13           14  \
0        PostalCode        ProductID         Category  SubCategory
1     57401 Central  OFF-SU-10004661  Office Supplies     Supplies
2     79605 Central  OFF-AP-10001634  Office Supplies   Appliances
3        44312 East  OFF-PA-10002666  Office Supplies        Paper
4        44312 East  FUR-FU-10000308        Furniture  Furnishings
...             ...              ...              ...          ...
9990     92399 West  OFF-AR-10003156  Office Supplies          Art
9991     85364 West  TEC-AC-10003832       Technology  Accessories
9992     85364 West  OFF-AR-10002375  Office Supplies          Art
9993     85364 West  OFF-BI-10001658  Office Supplies      Binders
9994     85364 West  TEC-MA-10001148       Technology     Machines

                                                     15      16        17  \
0                                           ProductName   Sales  Quantity
1                         Acme Titanium Bonded Scissors    25,5         3
2          Hoover Commercial Lightweight Upright Vacuum    1,39         2
3     Southworth 25% Cotton Linen-Finish Paper & Env...   21,74         3
4              Deflect-o Glass Clear Studded Chair Mats  149,23         3
...                                                 ...     ...       ...
9990                            50 Colored Long Pencils    50,8         5
9991  Imation 16GB Mini TravelDrive USB 2.0 Flash Drive  185,53         7
9992                                         Newell 351    10,5         4
9993                   GBC Standard Therm-A-Bind Covers   44,86         6
9994       Swingline SM12-08 MicroCut Jam Free Shredder  599,99         5

            18       19             20
0     Discount   Profit  SalesPersonId
1            0     6,63           3029
2          0,8    -3,76           3032
3          0,2      6,8           3029
4          0,2     3,73           3031
...        ...      ...            ...
9990         0    13,21           3031
9991       0,2     48,7           3032
9992       0,2     1,18           3032
9993       0,7   -35,88           3031
9994       0,7  -479,99           3032

[9995 rows x 21 columns]>

In [ ]:
#Verificando as colunas do dataset
vendedor.columns

Index(['Salespersonid;SalesPersonName;SalesPersonLastName;Region'], dtype='object')

In [ ]:
#Tamanho do dataset
vendedor.shape

(4, 1)

In [ ]:
print('O dataset possui',vendedor.shape[0], 'registros e', vendedor.shape[1], 'atributos.')

O dataset possui 4 registros e 1 atributos.

In [ ]:
#Exibindo os primeiros registros
vendedor.head

<bound method NDFrame.head of   Salespersonid;SalesPersonName;SalesPersonLastName;Region
0                            3029;Anna;Andreadi;West
1                              3030;Chuck;Magee;East
2                        3031;Kelly;Williams;Central
3                       3032;Cassandra;Brandow;South      >

In [ ]:
#Verificando dados nulos
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
dtype: int64

In [ ]:
#Quantas operacoes Anna teve
(df[20]=='3029').value_counts()

False    8787
True     1208
Name: 20, dtype: int64

In [ ]:
#Quantas operacoes Chuck teve
(df[20]=='3030').value_counts()

False    7703
True     2292
Name: 20, dtype: int64

In [ ]:
#Quantas operacoes Kelly teve
(df[20]=='3031').value_counts()

False    6240
True     3755
Name: 20, dtype: int64

In [ ]:
#Quantas operacoes Cassandra teve
(df[20]=='3032').value_counts()

False    7256
True     2739
Name: 20, dtype: int64

In [ ]:
#Qual vendedor mais teve operacoes
df[20].value_counts()

3031             3755
3032             2739
3030             2292
3029             1208
SalesPersonId       1
Name: 20, dtype: int64

In [ ]:
#Cidades com maior frequencia
df[10].value_counts()

California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Mississippi               53
Utah                      53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
State                      1
Name: 10, dtype: int64